<h1>BeerQuest !</h1>

<div class="call-to-action">
  <h4>Démarrez votre BeerQuest :</h4>
  <ul>
    <li>Une séléction de bière selon vos goûts</li>
    <li>Une carte interractive avec les bières que vous voulez essayer</li>
    <li>Et encore plus à découvrir...</li>
  </ul>
</div>

<div class="dernieres-sorties">
  <p>Voici les dernières sortie(en france/région)</p>
</div>
