// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card_beer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
